
   .container {
    margin: 0 auto;
    padding: 30px 30px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    border-bottom: 1px dashed #aaa;
  }
    .content {
    display: block;
    white-space: pre;
  }

  .paymentoption{
    width: 65px;
    height: 25px;
    position: absolute;
    bottom: 16px;
    right: 100px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    transition: color .15s ease, background-color .15s ease;
  }